/* FONTE H1 */
@font-face {
  font-family: 'Blacksword';
  src: url('Blacksword.woff2') format('woff2'),
    url('Blacksword.woff') format('woff'),
    url('Blacksword.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* PALETAS DE CORES */
:root {
  --c1: white;
  --c2: #30a5c2;
  --c3: #22788d;
  --c4: #adadad;
  --c5: black;
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CORPO */
body {
  display: grid;
  grid-template-rows: 2fr 10fr;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1em;
  font-family: Arial, sans-serif;
  background-color: var(--c1)
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 55%;
}

/* Formulário Cliente  */
form {
  background-color: var(--c1);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form_desc {
  width: 100%;
  height: 30px;
  font-size: 16px;
  border: 1px solid var(--c4);
  border-radius: 10px;
}

/* CAIXA GERAL ORÇAMENTOS */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  background-color: var(--c1);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* CAIXA DESCRIÇÃO SERVIÇOS/ VALOR UNITÁRIO PRODUTO */
.line_desc {
  display: flex;
  gap: 1px;
  margin: 1px;
}

input::placeholder {
 
  font-size: 10px;
  color: #acacac
}

.qtd {
  text-align: center;
  margin: auto;
  width: 20%;
  border: 1px solid var(--c4);
  border-radius: 10px;
  height: 30px;
}

.desc {
  padding: 0px 0px 0px 10px;
  margin: auto;
  min-width: 80%;
  border: 1px solid var(--c4);
  border-radius: 10px;
  height: 30px;
}

.valor_uni {
  text-align: center;
  margin: auto;
  width: 20%;
  border: 1px solid var(--c4);
  border-radius: 10px;
  height: 30px;
}

/* TÍTULOS E TEXTOS*/
h1 {
  font-family: 'Blacksword';
  background-color: var(--c1);
  text-align: center;
  color: #555555;
  font-size: 22px;
}



/* Botão PDF */

button {
  padding: 10px;
  background-color: var(--c2);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: var(--c3);
}